.categories__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 280px));
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
  grid-gap: 30px;
  opacity: 1;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background: url("../assets/images/body-background.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.category__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 16px;
  transition: all .3s ease-in;
  cursor: pointer;
  aspect-ratio: 1 / .89;
}

.category__background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all .3s ease;
  background: url("../assets/images/category-background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.background-play {
  background: url("../assets/images/category-background-blue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-learn {
  background: url("../assets/images/category-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.category__item:hover .category__image {
  animation: shake 1s linear infinite forwards;
}

@keyframes shake {
  0% {
    transform: rotate(3deg) scale(1.1);
    
  }
  100% {
    transform: rotate(-3deg);
  }
}

.category__item:hover .category__title {
  transform: scale(1.1);
}

.category__item:hover .category__background {
  transform: rotate(1deg)
}

.category__item:nth-child(odd) .category__title {
  color: #A839FF;
}

.category__item:nth-child(even) .category__title {
  color: #0DADDD;
}

.category__item:first-child .category__title {
  color: #F36B7F;
}

.category__item:last-child .category__title {
  color: #2654A4;
}

.category__item:nth-child(2) .category__title {
  color: #DA5B4F;
}

.category__image-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  top: -15%;
  width: 83%;
  height: 74.4%;
  z-index: 1;
}

.category__image {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 69%;
  height: 90%;
  transition: all .3s ease-in;
}

.category__title {
  position: relative;
  padding: 10px;
  z-index: 1;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 16px;
  transition: all .2s ease;
}

.category__quantity {
  padding: 10px;
}


@media (max-width: 1000px) {
  .categories__list {
    grid-template-columns: repeat(3, minmax(100px, 280px));
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 615px) {
  .categories__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 450px));
    grid-template-rows: 1fr;
    justify-content: center;
  }

  .category__title {
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  .category__title {
    font-size: 20px;
    padding: 0;
  }
}

